<footer id="footer-wrapper" class="footer-wrapper">
    <div id="footer" role="contentinfo" class="footer">
    <!-- dwMarker="content" dwContentID="39f695588870f390a3b27c22b8" -->
    <div class="content-asset">
        <div class="footer-ctr">
        <div class="footer-img-ctr" style=
        "background-image: url(http://www.americangolf.co.uk/on/demandware.static/-/Sites/en_GB/v1495347914494/americangolf/footer/bg_footer.jpg);">
            <div class="footer-content-ctr">
            <!-- Heading -->
            <h3 class="footer-heading heading-3">
                Sign up for the latest news & offers or
                follow us on
            </h3><!-- Social Links -->
            <div class="footer-social-links">
                <a href=
                "https://www.facebook.com/americangolf"
                target="_blank"><i class=
                "icon icon-facebook"><!-- icon --></i></a>
                <a href="https://twitter.com/AmericanGolf_UK"
                target="_blank"><i class="icon icon-twitter">
                <!-- icon --></i></a> <a href=
                "https://www.youtube.com/user/americangolfvideos1"
                target="_blank"><i class="icon icon-youtube">
                <!-- icon --></i></a> <a href=
                "https://plus.google.com/+americangolf/posts"
                target="_blank"><i class="icon icon-google">
                <!-- icon --></i></a>
            </div><!-- Newsletter Form -->
            <div class="footer-newsletter">
                <div class="footer-newsletter-container">
                <div class="footer-newsletter">
                    <div class="newsletterstatus"
                    data-status="{}">
                    <!-- empty -->
                    </div>
                    <form action=
                    "http://www.americangolf.co.uk/on/demandware.store/Sites-AmericanGolf-GB-Site/en_GB/Newsletter-NewsletterWidget/C1515832042"
                    method="post" class=
                    "footer-newsletter-form valid">
                    <div class=
                    "form-row form-row-input required">
                        <div class="field">
                        <input class="input-text required"
                        type="email" id=
                        "dwfrm_newsletter_email" name=
                        "dwfrm_newsletter_email" value=""
                        maxlength="50" placeholder=
                        "Enter your email address">
                        </div>
                    </div><button type="submit" name=
                    "dwfrm_newsletter_subscribe" class=
                    "button">Sign Up</button>
                    </form>
                </div>
                </div>
            </div><!-- Navigation -->
            <div class="footer-navigation accordion">
                <div class="accordion-section">
                <div class="accordion-toggle">
                    About Us
                </div>
                <div class="toggle-content">
                    <ul>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/services/about-us.html">
                        About Us</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/content/terms.html">
                        Terms and Conditions</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/content/privacy-policy.html">
                        Privacy Policy</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/cookie-policy/cookie-policy.html">
                        Cookie Policy</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/american-golf-charity-page/AG-Charity-Page.html">
                        Nominated Charities</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolfcareers.co.uk">
                        Careers</a>
                    </li>
                    </ul>
                </div>
                </div>
                <div class="accordion-section">
                <div class="accordion-toggle">
                    Expert Help
                </div>
                <div class="toggle-content">
                    <ul>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/information/contact-us.html">
                        Contact Us</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/pro-golf-advice">
                        Pro's Advice</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/information/club-repairs.html">
                        Club Repairs</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/content/faqs.html">
                        FAQ's & Help</a>
                    </li>
                    </ul>
                </div>
                </div>
                <div class="accordion-section">
                <div class="accordion-toggle">
                    Stores & Services
                </div>
                <div class="toggle-content">
                    <ul>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/find-stores">
                        Store Locator</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/information/ag_customservices_demodays.html">
                        Free Fitting Days & Events</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/content/golf-insurance.html">
                        Golf Insurance</a>
                    </li>
                    <li>
                        <a href=
                        "https://www.teeofftimes.co.uk/">Tee-off
                        Times</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/insurance-replacement-services/insurance-replacement-services.html">
                        Insurance Replacement Services</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/content/pricematch-guarantee.html">
                        Price Match Guarantee</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/golf-competitions/CompetitionHub.html">
                        Competitions</a>
                    </li>
                    </ul>
                </div>
                </div>
                <div class="accordion-section">
                <div class="accordion-toggle">
                    Ordering
                </div>
                <div class="toggle-content">
                    <ul>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/content/returns-refunds.html">
                        Returns</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/content/order-tracking.html">
                        Order Tracking</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/content/shipping-delivery.html">
                        Shipping & Delivery</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/shop-online-collect-in-store/store-delivery-options.html">
                        Shop Online Collect in Store</a>
                    </li>
                    <li>
                        <a href=
                        "http://www.americangolf.co.uk/gift-voucher/giftcards-evouchers.html">
                        Gift Vouchers</a>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div id="footer-copy" role="contentinfo" class=
    "footer-copy">
    <!-- dwMarker="content" dwContentID="1e35727b53ca0c3b048c967067" -->
    <div class="content-asset">
        <div class="grid-row">
        <div class=
        "footer-copy-left vertically-centered col-sm-12 col-md-9 col-lg-8">
            © Copyright © 1999-2017 SW Golf Ltd <span class=
            "hide-on-sm">- Company Registration no:4168205 -
            VAT Registered: GB 974 9767 4141</span>
        </div>
        <div class=
        "footer-copy-right vertically-centered hide-on-sm col-md-3 col-lg-4">
            <img class="footer-paymentmethods scaleable"
            srcset=
            "http://www.americangolf.co.uk/on/demandware.static/-/Sites/en_GB/v1495347914494/2017/shared/content/footer/paymentmethods/all-payments.jpg"
            alt="Payment Methods">
        </div>
        </div>
    </div>
    </div>
</footer>