<div id="primary" class=
"col-sm-12 col-md-12 col-lg-9 full-height primary-content">
<div id="compare-controls">
    <div data-compare=
    "{&quot;add&quot;:&quot;/on/demandware.store/Sites-AmericanGolf-GB-Site/en_GB/Compare-AddProduct&quot;,&quot;remove&quot;:&quot;http://www.americangolf.co.uk/on/demandware.store/Sites-AmericanGolf-GB-Site/en_GB/Compare-RemoveProduct&quot;,&quot;removeAll&quot;:&quot;http://www.americangolf.co.uk/on/demandware.store/Sites-AmericanGolf-GB-Site/en_GB/Compare-RemoveAllProducts&quot;,&quot;category&quot;:&quot;navigation&quot;,&quot;productUUIDs&quot;:[],&quot;limitReachedMsg&quot;:&quot;Sorry, you can only compare a maximum of 4 items&quot;}"
    id="compare-items" class="compareitems" style=
    "display:none;">
    <div class="comparebar content-inner clearfix">
        <div class="compare-label">
        <div class="compare-label-inner">
            <i class="icon icon-compare">
            <!-- icon --></i> <span>Compare
            (0)</span>
        </div>
        </div>
        <div id="compare-widget" class=
        "compare-widget">
        <div id="compare-items-panel" class=
        "compare-items-panel">
            <div class=
            " col-sm-12 col-md-3 full-height compare-item compare-item-0">
            <div class="empty-item">
                <div class="content">
                <span class="count">1</span>
                <span class=
                "select-another">Select</span>
                another product for comparison
                </div>
            </div>
            </div>
            <div class=
            " col-sm-12 col-md-3 full-height compare-item compare-item-1">
            <div class="empty-item">
                <div class="content">
                <span class="count">2</span>
                <span class=
                "select-another">Select</span>
                another product for comparison
                </div>
            </div>
            </div>
            <div class=
            " col-sm-12 col-md-3 full-height compare-item compare-item-2">
            <div class="empty-item">
                <div class="content">
                <span class="count">3</span>
                <span class=
                "select-another">Select</span>
                another product for comparison
                </div>
            </div>
            </div>
            <div class=
            " col-sm-12 col-md-3 full-height compare-item compare-item-3">
            <div class="empty-item">
                <div class="content">
                <span class="count">4</span>
                <span class=
                "select-another">Select</span>
                another product for comparison
                </div>
            </div>
            </div>
        </div>
        <div class="compare-buttons">
            <div class=
            "compare-buttons-inner clearfix">
            <button class=
            "button button-text delete-item clear-compared-items"
            id=
            "clear-compared-items">Close</button>
            <form action=
            "http://www.americangolf.co.uk/compare"
            class="compare-form">
                <input type="hidden" name="category"
                value="navigation">
                <div class=
                "col-sm-12 compare-button-row">
                <button id="compare-items-button"
                class="disabled" disabled=
                "disabled"><span>Compare
                <span class=
                "og-small">now</span></span></button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<div class="search-result-content">
    <ul id="search-result-items" class=
    "search-result-items tiles-container grid-row"
    data-infinitescroll=
    "{&quot;pageCount&quot;:208,&quot;pageSize&quot;:12,&quot;loadedPage&quot;:0,&quot;pagingURL&quot;:&quot;http://www.americangolf.co.uk/golf-products?sz=12&amp;start=0&amp;format=infinite&quot;,&quot;browsingURL&quot;:&quot;http://www.americangolf.co.uk/golf-products?sz=12&amp;start=0&quot;,&quot;preloadImg&quot;:&quot;http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/Sites-AmericanGolf-GB-Site/-/default/dw447a2483/images/spacer.png?sw=255&amp;sh=170&amp;sfrm=png&quot;,&quot;productCount&quot;:2508}">
    <li id="liprod-0" class=
    "grid-tile col-sm-12 col-md-4 col-lg-4">
        <!-- CQuotient Activity Tracking (viewCategory-cquotient.js) -->
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ */
        (function(){
        try {
        if(window.CQuotient) {
        var cq_params = {};

        cq_params.cookieId = window.CQuotient.getCQCookieId();
        cq_params.userId = window.CQuotient.getCQUserId();
        cq_params.accumulate = true;
        cq_params.products = [{
        id: '307757',
        sku: ''
        }];
        cq_params.categoryId = 'navigation';
        cq_params.refinements = '[{\"name\":\"Category\",\"value\":\"navigation\"}]';
        cq_params.personalized = 'false';

        if(window.CQuotient.sendActivity)
        window.CQuotient.sendActivity(CQuotient.clientId, 'viewCategory', cq_params);
        else
        window.CQuotient.activities.push({
        activityType: 'viewCategory',
        parameters: cq_params
        });
        }
        } catch(err) {}
        })();
        /* ]]> */
        // -->
        </script> 
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ (viewProduct-active_data.js) */
        dw.ac.capture({id: "307757", type: "searchhit"});
        /* ]]> */
        // -->
        </script>
        <div class="product-tile" id=
        "265b367113127799a1b9a8fa70" data-itemid=
        "307757">
        <div class="product-image">
            <!-- dwMarker="product" dwContentID="265b367113127799a1b9a8fa70" -->
            <a class="thumb-link productlink" href=
            "http://www.americangolf.co.uk/clothing-shoes/windshirts/nike-golf-dri-fit-windshirt-307757.html?dwvar_307757_variantimage=black%2Fwhite"
            title=
            "Nike Golf Dri-Fit Windshirt"><img src=
            "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwce25f86b/zoom/307757_black1.jpg?sw=255"
            alt="Nike Golf Dri-Fit Windshirt" title=
            "Nike Golf Dri-Fit Windshirt" width=
            "255"></a>
            <div class="product-promo">
            <div class="promotional-message">
                Buy 2 get 20% off
            </div>
            </div>
            <div class="badge badge-pricebuster">
            <div class="badge-inner">
                Great
                <br>
                Value
            </div>
            </div>
        </div>
        <h3 class="product-name">
            <a class="name-link productlink" href=
            "http://www.americangolf.co.uk/clothing-shoes/windshirts/nike-golf-dri-fit-windshirt-307757.html?dwvar_307757_variantimage=black%2Fwhite"
            title="Nike Golf Dri-Fit Windshirt">Nike
            Golf Dri-Fit Windshirt</a>
        </h3>
        <div class="product-reviews">
            <div class="pr_stars">
            <i class="icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i> <span class=
            "stars-inner" style=
            "width:88%;"><span class=
            "stars-inner-content"><i class=
            "icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i></span></span>
            </div>
        </div>
        <div class="product-pricing">
            <div class=
            "product-price product-price-standard">
            <div class="save-mrrp">
                <span class="mrrp">MRRP £50.00</span>
                <span class="save">Save £10.01</span>
            </div>
            <div class="product-sales-price" title=
            "Sale Price">
                <span>£39.99</span>
            </div>
            </div>
        </div>
        <div class="product-compare"
        data-compareitemid="307757">
            <div class="form-row form-row-checkbox">
            <div class="field">
                <input type="checkbox" class=
                "compare-check" id=
                "cc-265b367113127799a1b9a8fa70">
                <label class="label" for=
                "cc-265b367113127799a1b9a8fa70">Compare</label>
            </div>
            </div>
        </div>
        <div class="product-colorswatches">
            <ul class="product-colorswatches-list">
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/windshirts/nike-golf-dri-fit-windshirt-307757.html?dwvar_307757_variantimage=black%2Fwhite"
                title="Black/White"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwce25f86b/zoom/307757_black1.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwce25f86b/zoom/307757_black1.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/windshirts/nike-golf-dri-fit-windshirt-307757.html?dwvar_307757_variantimage=blue%2Fblack"
                title="Blue/Black"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwb36eb6e4/zoom/307757_blue1.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwb36eb6e4/zoom/307757_blue1.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/windshirts/nike-golf-dri-fit-windshirt-307757.html?dwvar_307757_variantimage=grey%2Fred"
                title="Grey/Red"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw926a04ad/zoom/307757_grey1.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw926a04ad/zoom/307757_grey1.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/windshirts/nike-golf-dri-fit-windshirt-307757.html?dwvar_307757_variantimage=red"
                title="Red"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw8b5066cf/zoom/307757_red1.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw8b5066cf/zoom/307757_red1.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/windshirts/nike-golf-dri-fit-windshirt-307757.html?dwvar_307757_variantimage=white%2Fgrey"
                title="White/Grey"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw02542da3/zoom/307757_white1.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw02542da3/zoom/307757_white1.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            </ul>
        </div>
        </div>
    </li>
    <li id="liprod-1" class=
    "grid-tile col-sm-12 col-md-4 col-lg-4">
        <!-- CQuotient Activity Tracking (viewCategory-cquotient.js) -->
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ */
        (function(){
        try {
        if(window.CQuotient) {
        var cq_params = {};

        cq_params.cookieId = window.CQuotient.getCQCookieId();
        cq_params.userId = window.CQuotient.getCQUserId();
        cq_params.accumulate = true;
        cq_params.products = [{
        id: 'C005',
        sku: ''
        }];
        cq_params.categoryId = 'navigation';
        cq_params.refinements = '[{\"name\":\"Category\",\"value\":\"navigation\"}]';
        cq_params.personalized = 'false';

        if(window.CQuotient.sendActivity)
        window.CQuotient.sendActivity(CQuotient.clientId, 'viewCategory', cq_params);
        else
        window.CQuotient.activities.push({
        activityType: 'viewCategory',
        parameters: cq_params
        });
        }
        } catch(err) {}
        })();
        /* ]]> */
        // -->
        </script> 
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ (viewProduct-active_data.js) */
        dw.ac.capture({id: "C005", type: "searchhit"});
        /* ]]> */
        // -->
        </script>
        <div class="product-tile" id=
        "156c68cccefc43d4479579ff01" data-itemid=
        "C005">
        <div class="product-image">
            <!-- dwMarker="product" dwContentID="156c68cccefc43d4479579ff01" -->
            <a class="thumb-link productlink" href=
            "http://www.americangolf.co.uk/ncc17/taylormade-m2-family-C005.html"
            title="TaylorMade M2 Family"><img src=
            "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwaaf2ebf9/zoom/C005-TMag.jpg?sw=255"
            alt="TaylorMade M2 Family" title=
            "TaylorMade M2 Family" width="255"></a>
        </div>
        <h3 class="product-name">
            <a class="name-link productlink" href=
            "http://www.americangolf.co.uk/ncc17/taylormade-m2-family-C005.html"
            title="TaylorMade M2 Family">TaylorMade
            M2 Family</a>
        </h3>
        <div class="product-reviews"></div>
        <div class="product-pricing">
            <div class=
            "product-price product-price-standard">
            <div class="save-mrrp"></div>
            <div class=
            "product-sales-price product-sales-price-set">
                <span>View Collection</span>
            </div>
            </div>
        </div>
        <div class="product-compare"
        data-compareitemid="C005"></div>
        <div class="product-colorswatches"></div>
        </div>
    </li>
    <li id="liprod-2" class=
    "grid-tile col-sm-12 col-md-4 col-lg-4">
        <!-- CQuotient Activity Tracking (viewCategory-cquotient.js) -->
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ */
        (function(){
        try {
        if(window.CQuotient) {
        var cq_params = {};

        cq_params.cookieId = window.CQuotient.getCQCookieId();
        cq_params.userId = window.CQuotient.getCQUserId();
        cq_params.accumulate = true;
        cq_params.products = [{
        id: '307574',
        sku: ''
        }];
        cq_params.categoryId = 'navigation';
        cq_params.refinements = '[{\"name\":\"Category\",\"value\":\"navigation\"}]';
        cq_params.personalized = 'false';

        if(window.CQuotient.sendActivity)
        window.CQuotient.sendActivity(CQuotient.clientId, 'viewCategory', cq_params);
        else
        window.CQuotient.activities.push({
        activityType: 'viewCategory',
        parameters: cq_params
        });
        }
        } catch(err) {}
        })();
        /* ]]> */
        // -->
        </script> 
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ (viewProduct-active_data.js) */
        dw.ac.capture({id: "307574", type: "searchhit"});
        /* ]]> */
        // -->
        </script>
        <div class="product-tile" id=
        "0f47ef292c32e2ea710778b85b" data-itemid=
        "307574">
        <div class="product-image">
            <!-- dwMarker="product" dwContentID="0f47ef292c32e2ea710778b85b" -->
            <a class="thumb-link productlink" href=
            "http://www.americangolf.co.uk/clothing-shoes/shirts/nike-golf-breathe-heather-polo-shirt-307574.html?dwvar_307574_variantimage=grey%2Fwhite"
            title=
            "Nike Golf Breathe Heather Polo Shirt"><img src="http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw9669b5d5/zoom/307574-greywhite.jpg?sw=255"
            alt=
            "Nike Golf Breathe Heather Polo Shirt"
            title=
            "Nike Golf Breathe Heather Polo Shirt"
            width="255"></a>
            <div class="product-promo">
            <div class="promotional-message">
                Buy 2 get 20% off
            </div>
            </div>
            <div class="badge badge-pricebuster">
            <div class="badge-inner">
                Great
                <br>
                Value
            </div>
            </div>
        </div>
        <h3 class="product-name">
            <a class="name-link productlink" href=
            "http://www.americangolf.co.uk/clothing-shoes/shirts/nike-golf-breathe-heather-polo-shirt-307574.html?dwvar_307574_variantimage=grey%2Fwhite"
            title=
            "Nike Golf Breathe Heather Polo Shirt">Nike
            Golf Breathe Heather Polo Shirt</a>
        </h3>
        <div class="product-reviews">
            <div class="pr_stars">
            <i class="icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i> <span class=
            "stars-inner" style=
            "width:92%;"><span class=
            "stars-inner-content"><i class=
            "icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i></span></span>
            </div>
        </div>
        <div class="product-pricing">
            <div class=
            "product-price product-price-standard">
            <div class="save-mrrp">
                <span class="mrrp">MRRP £35.00</span>
                <span class="save">Save £5.01</span>
            </div>
            <div class="product-sales-price" title=
            "Sale Price">
                <span>£29.99</span>
            </div>
            </div>
        </div>
        <div class="product-compare"
        data-compareitemid="307574">
            <div class="form-row form-row-checkbox">
            <div class="field">
                <input type="checkbox" class=
                "compare-check" id=
                "cc-0f47ef292c32e2ea710778b85b">
                <label class="label" for=
                "cc-0f47ef292c32e2ea710778b85b">Compare</label>
            </div>
            </div>
        </div>
        <div class="product-colorswatches">
            <ul class="product-colorswatches-list">
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/shirts/nike-golf-breathe-heather-polo-shirt-307574.html?dwvar_307574_variantimage=black%2Fwhite"
                title="Black/White"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw417a5db6/zoom/307574_black.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw417a5db6/zoom/307574_black.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/shirts/nike-golf-breathe-heather-polo-shirt-307574.html?dwvar_307574_variantimage=blue%2Fwhite"
                title="Blue/White"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw1ce8651b/zoom/307574_blue.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw1ce8651b/zoom/307574_blue.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/shirts/nike-golf-breathe-heather-polo-shirt-307574.html?dwvar_307574_variantimage=green%2Fblack"
                title="Green/Black"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwaf2c54e6/zoom/307574-greenblack.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwaf2c54e6/zoom/307574-greenblack.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/shirts/nike-golf-breathe-heather-polo-shirt-307574.html?dwvar_307574_variantimage=grey%2Fwhite"
                title="Grey/White"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw9669b5d5/zoom/307574-greywhite.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw9669b5d5/zoom/307574-greywhite.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/shirts/nike-golf-breathe-heather-polo-shirt-307574.html?dwvar_307574_variantimage=midnight%2Fwhite"
                title="Midnight/White"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw44a35304/zoom/307574_navy.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw44a35304/zoom/307574_navy.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/shirts/nike-golf-breathe-heather-polo-shirt-307574.html?dwvar_307574_variantimage=red%2Fblack"
                title="Red/Black"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwbbbba5f8/zoom/307574_red.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwbbbba5f8/zoom/307574_red.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            </ul>
        </div>
        </div>
    </li>
    <li id="liprod-3" class=
    "grid-tile col-sm-12 col-md-4 col-lg-4">
        <!-- CQuotient Activity Tracking (viewCategory-cquotient.js) -->
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ */
        (function(){
        try {
        if(window.CQuotient) {
        var cq_params = {};

        cq_params.cookieId = window.CQuotient.getCQCookieId();
        cq_params.userId = window.CQuotient.getCQUserId();
        cq_params.accumulate = true;
        cq_params.products = [{
        id: '297340',
        sku: ''
        }];
        cq_params.categoryId = 'navigation';
        cq_params.refinements = '[{\"name\":\"Category\",\"value\":\"navigation\"}]';
        cq_params.personalized = 'false';

        if(window.CQuotient.sendActivity)
        window.CQuotient.sendActivity(CQuotient.clientId, 'viewCategory', cq_params);
        else
        window.CQuotient.activities.push({
        activityType: 'viewCategory',
        parameters: cq_params
        });
        }
        } catch(err) {}
        })();
        /* ]]> */
        // -->
        </script> 
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ (viewProduct-active_data.js) */
        dw.ac.capture({id: "297340", type: "searchhit"});
        /* ]]> */
        // -->
        </script>
        <div class="product-tile" id=
        "bckvgiaagkQ3waaadqyMI1oclP" data-itemid=
        "297340">
        <div class="product-image">
            <!-- dwMarker="product" dwContentID="bckvgiaagkQ3waaadqyMI1oclP" -->
            <a class="thumb-link productlink" href=
            "http://www.americangolf.co.uk/balls-accessories/golf-balls/callaway-warbird-plus-12-ball-pack-297340.html?dwvar_297340_variantimage=white"
            title=
            "Callaway Warbird Plus 12 Ball Pack"><img src="http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw3b8f58e2/zoom/297340-1.jpg?sw=255"
            alt="Callaway Warbird Plus 12 Ball Pack"
            title=
            "Callaway Warbird Plus 12 Ball Pack"
            width="255"></a>
            <div class="product-promo">
            <div class="promotional-message">
                20% off Second Pack
            </div>
            </div>
            <div class="badge badge-pricebuster">
            <div class="badge-inner">
                Great
                <br>
                Value
            </div>
            </div>
        </div>
        <h3 class="product-name">
            <a class="name-link productlink" href=
            "http://www.americangolf.co.uk/balls-accessories/golf-balls/callaway-warbird-plus-12-ball-pack-297340.html?dwvar_297340_variantimage=white"
            title=
            "Callaway Warbird Plus 12 Ball Pack">Callaway
            Warbird Plus 12 Ball Pack</a>
        </h3>
        <div class="product-reviews">
            <div class="pr_stars">
            <i class="icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i> <span class=
            "stars-inner" style=
            "width:87%;"><span class=
            "stars-inner-content"><i class=
            "icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i></span></span>
            </div>
        </div>
        <div class="product-pricing">
            <div class=
            "product-price product-price-standard">
            <div class="save-mrrp">
                <span class="mrrp">MRRP £15.99</span>
                <span class="save">Save £4.00</span>
            </div>
            <div class="product-sales-price" title=
            "Sale Price">
                <span>£11.99</span>
            </div>
            </div>
        </div>
        <div class="product-compare"
        data-compareitemid="297340">
            <div class="form-row form-row-checkbox">
            <div class="field">
                <input type="checkbox" class=
                "compare-check" id=
                "cc-bckvgiaagkQ3waaadqyMI1oclP">
                <label class="label" for=
                "cc-bckvgiaagkQ3waaadqyMI1oclP">Compare</label>
            </div>
            </div>
        </div>
        <div class="product-colorswatches"></div>
        </div>
    </li>
    <li id="liprod-4" class=
    "grid-tile col-sm-12 col-md-4 col-lg-4">
        <!-- CQuotient Activity Tracking (viewCategory-cquotient.js) -->
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ */
        (function(){
        try {
        if(window.CQuotient) {
        var cq_params = {};

        cq_params.cookieId = window.CQuotient.getCQCookieId();
        cq_params.userId = window.CQuotient.getCQUserId();
        cq_params.accumulate = true;
        cq_params.products = [{
        id: 'C002',
        sku: ''
        }];
        cq_params.categoryId = 'navigation';
        cq_params.refinements = '[{\"name\":\"Category\",\"value\":\"navigation\"}]';
        cq_params.personalized = 'false';

        if(window.CQuotient.sendActivity)
        window.CQuotient.sendActivity(CQuotient.clientId, 'viewCategory', cq_params);
        else
        window.CQuotient.activities.push({
        activityType: 'viewCategory',
        parameters: cq_params
        });
        }
        } catch(err) {}
        })();
        /* ]]> */
        // -->
        </script> 
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ (viewProduct-active_data.js) */
        dw.ac.capture({id: "C002", type: "searchhit"});
        /* ]]> */
        // -->
        </script>
        <div class="product-tile" id=
        "6649f9c9f608a9310da1fb133a" data-itemid=
        "C002">
        <div class="product-image">
            <!-- dwMarker="product" dwContentID="6649f9c9f608a9310da1fb133a" -->
            <a class="thumb-link productlink" href=
            "http://www.americangolf.co.uk/nsc17/under-armour-men%27s-storm-outfit-C002.html"
            title=
            "Under Armour Men's Storm Outfit"><img src="http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwb654dad1/zoom/C002-UA.jpg?sw=255"
            alt="Under Armour Men's Storm Outfit"
            title="Under Armour Men's Storm Outfit"
            width="255"></a>
        </div>
        <h3 class="product-name">
            <a class="name-link productlink" href=
            "http://www.americangolf.co.uk/nsc17/under-armour-men%27s-storm-outfit-C002.html"
            title=
            "Under Armour Men's Storm Outfit">Under
            Armour Men's Storm Outfit</a>
        </h3>
        <div class="product-reviews"></div>
        <div class="product-pricing">
            <div class=
            "product-price product-price-standard">
            <div class="save-mrrp"></div>
            <div class=
            "product-sales-price product-sales-price-set">
                <span>View Collection</span>
            </div>
            </div>
        </div>
        <div class="product-compare"
        data-compareitemid="C002"></div>
        <div class="product-colorswatches"></div>
        </div>
    </li>
    <li id="liprod-5" class=
    "grid-tile col-sm-12 col-md-4 col-lg-4">
        <!-- CQuotient Activity Tracking (viewCategory-cquotient.js) -->
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ */
        (function(){
        try {
        if(window.CQuotient) {
        var cq_params = {};

        cq_params.cookieId = window.CQuotient.getCQCookieId();
        cq_params.userId = window.CQuotient.getCQUserId();
        cq_params.accumulate = true;
        cq_params.products = [{
        id: '311213',
        sku: ''
        }];
        cq_params.categoryId = 'navigation';
        cq_params.refinements = '[{\"name\":\"Category\",\"value\":\"navigation\"}]';
        cq_params.personalized = 'false';

        if(window.CQuotient.sendActivity)
        window.CQuotient.sendActivity(CQuotient.clientId, 'viewCategory', cq_params);
        else
        window.CQuotient.activities.push({
        activityType: 'viewCategory',
        parameters: cq_params
        });
        }
        } catch(err) {}
        })();
        /* ]]> */
        // -->
        </script> 
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ (viewProduct-active_data.js) */
        dw.ac.capture({id: "311213", type: "searchhit"});
        /* ]]> */
        // -->
        </script>
        <div class="product-tile" id=
        "80b7b8d2d273807d11f876da9a" data-itemid=
        "311213">
        <div class="product-image">
            <!-- dwMarker="product" dwContentID="80b7b8d2d273807d11f876da9a" -->
            <a class="thumb-link productlink" href=
            "http://www.americangolf.co.uk/golf-clubs/drivers/taylormade-m2-2017-driver-311213.html"
            title=
            "TaylorMade M2 2017 Driver"><img src=
            "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwcea84ed1/zoom/driverM2a.jpg?sw=255"
            alt="TaylorMade M2 2017 Driver" title=
            "TaylorMade M2 2017 Driver" width=
            "255"></a>
        </div>
        <h3 class="product-name">
            <a class="name-link productlink" href=
            "http://www.americangolf.co.uk/golf-clubs/drivers/taylormade-m2-2017-driver-311213.html"
            title=
            "TaylorMade M2 2017 Driver">TaylorMade M2
            2017 Driver</a>
        </h3>
        <div class="product-reviews">
            <div class="pr_stars">
            <i class="icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i> <span class=
            "stars-inner" style=
            "width:94%;"><span class=
            "stars-inner-content"><i class=
            "icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i></span></span>
            </div>
        </div>
        <div class="product-pricing">
            <div class=
            "product-price product-price-standard">
            <div class="save-mrrp">
                <span class="mrrp">MRRP
                £369.00</span> <span class=
                "save">Save £39.01</span>
            </div>
            <div class="product-sales-price" title=
            "Sale Price">
                <span>£329.99</span>
            </div>
            </div>
        </div>
        <div class="product-compare"
        data-compareitemid="311213">
            <div class="form-row form-row-checkbox">
            <div class="field">
                <input type="checkbox" class=
                "compare-check" id=
                "cc-80b7b8d2d273807d11f876da9a">
                <label class="label" for=
                "cc-80b7b8d2d273807d11f876da9a">Compare</label>
            </div>
            </div>
        </div>
        <div class="product-colorswatches"></div>
        </div>
    </li>
    <li id="liprod-6" class=
    "grid-tile col-sm-12 col-md-4 col-lg-4">
        <!-- CQuotient Activity Tracking (viewCategory-cquotient.js) -->
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ */
        (function(){
        try {
        if(window.CQuotient) {
        var cq_params = {};

        cq_params.cookieId = window.CQuotient.getCQCookieId();
        cq_params.userId = window.CQuotient.getCQUserId();
        cq_params.accumulate = true;
        cq_params.products = [{
        id: '311313',
        sku: ''
        }];
        cq_params.categoryId = 'navigation';
        cq_params.refinements = '[{\"name\":\"Category\",\"value\":\"navigation\"}]';
        cq_params.personalized = 'false';

        if(window.CQuotient.sendActivity)
        window.CQuotient.sendActivity(CQuotient.clientId, 'viewCategory', cq_params);
        else
        window.CQuotient.activities.push({
        activityType: 'viewCategory',
        parameters: cq_params
        });
        }
        } catch(err) {}
        })();
        /* ]]> */
        // -->
        </script> 
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ (viewProduct-active_data.js) */
        dw.ac.capture({id: "311313", type: "searchhit"});
        /* ]]> */
        // -->
        </script>
        <div class="product-tile" id=
        "b8247da3fd44ca6c3d9d57084f" data-itemid=
        "311313">
        <div class="product-image">
            <!-- dwMarker="product" dwContentID="b8247da3fd44ca6c3d9d57084f" -->
            <a class="thumb-link productlink" href=
            "http://www.americangolf.co.uk/golf-clubs/sets-of-irons/taylormade-m2-steel-irons-2017-311313.html"
            title=
            "TaylorMade M2 Steel Irons 2017"><img src="http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwfd265b88/zoom/311313-1.jpg?sw=255"
            alt="TaylorMade M2 Steel Irons 2017"
            title="TaylorMade M2 Steel Irons 2017"
            width="255"></a>
        </div>
        <h3 class="product-name">
            <a class="name-link productlink" href=
            "http://www.americangolf.co.uk/golf-clubs/sets-of-irons/taylormade-m2-steel-irons-2017-311313.html"
            title=
            "TaylorMade M2 Steel Irons 2017">TaylorMade
            M2 Steel Irons 2017</a>
        </h3>
        <div class="product-reviews">
            <div class="pr_stars">
            <i class="icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i> <span class=
            "stars-inner" style=
            "width:90%;"><span class=
            "stars-inner-content"><i class=
            "icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i></span></span>
            </div>
        </div>
        <div class="product-pricing">
            <div class=
            "product-price product-price-standard">
            <div class="save-mrrp"></div>
            <div class=
            "product-sales-price product-from-price">
                <span class="label">From</span>
                <span>£519.99</span>
            </div>
            </div>
        </div>
        <div class="product-compare"
        data-compareitemid="311313">
            <div class="form-row form-row-checkbox">
            <div class="field">
                <input type="checkbox" class=
                "compare-check" id=
                "cc-b8247da3fd44ca6c3d9d57084f">
                <label class="label" for=
                "cc-b8247da3fd44ca6c3d9d57084f">Compare</label>
            </div>
            </div>
        </div>
        <div class="product-colorswatches"></div>
        </div>
    </li>
    <li id="liprod-7" class=
    "grid-tile col-sm-12 col-md-4 col-lg-4">
        <!-- CQuotient Activity Tracking (viewCategory-cquotient.js) -->
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ */
        (function(){
        try {
        if(window.CQuotient) {
        var cq_params = {};

        cq_params.cookieId = window.CQuotient.getCQCookieId();
        cq_params.userId = window.CQuotient.getCQUserId();
        cq_params.accumulate = true;
        cq_params.products = [{
        id: '231716',
        sku: ''
        }];
        cq_params.categoryId = 'navigation';
        cq_params.refinements = '[{\"name\":\"Category\",\"value\":\"navigation\"}]';
        cq_params.personalized = 'false';

        if(window.CQuotient.sendActivity)
        window.CQuotient.sendActivity(CQuotient.clientId, 'viewCategory', cq_params);
        else
        window.CQuotient.activities.push({
        activityType: 'viewCategory',
        parameters: cq_params
        });
        }
        } catch(err) {}
        })();
        /* ]]> */
        // -->
        </script> 
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ (viewProduct-active_data.js) */
        dw.ac.capture({id: "231716", type: "searchhit"});
        /* ]]> */
        // -->
        </script>
        <div class="product-tile" id=
        "bcTIciaagZvgIaaac8uPwTyAMD" data-itemid=
        "231716">
        <div class="product-image">
            <!-- dwMarker="product" dwContentID="bcTIciaagZvgIaaac8uPwTyAMD" -->
            <a class="thumb-link productlink" href=
            "http://www.americangolf.co.uk/gps-bags-equipment/push-pull-trolleys/masters-golf-5-series-3-wheel-trolley-252216.html?dwvar_252216_variantimage=black"
            title=
            "Masters Golf 5 Series 3 Wheel Trolley"><img src="http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw7f911dfb/zoom/252216-2.jpg?sw=255"
            alt=
            "Masters Golf 5 Series 3 Wheel Trolley"
            title=
            "Masters Golf 5 Series 3 Wheel Trolley"
            width="255"></a>
            <div class="badge badge-pricebuster">
            <div class="badge-inner">
                Great
                <br>
                Value
            </div>
            </div>
        </div>
        <h3 class="product-name">
            <a class="name-link productlink" href=
            "http://www.americangolf.co.uk/gps-bags-equipment/push-pull-trolleys/masters-golf-5-series-3-wheel-trolley-252216.html?dwvar_252216_variantimage=black"
            title=
            "Masters Golf 5 Series 3 Wheel Trolley">Masters
            Golf 5 Series 3 Wheel Trolley</a>
        </h3>
        <div class="product-reviews">
            <div class="pr_stars">
            <i class="icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i> <span class=
            "stars-inner" style=
            "width:86%;"><span class=
            "stars-inner-content"><i class=
            "icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i></span></span>
            </div>
        </div>
        <div class="product-pricing">
            <div class=
            "product-price product-price-standard">
            <div class="save-mrrp">
                <span class="mrrp">MRRP £79.99</span>
                <span class="save">Save £20.00</span>
            </div>
            <div class="product-sales-price" title=
            "Sale Price">
                <span>£59.99</span>
            </div>
            </div>
        </div>
        <div class="product-compare"
        data-compareitemid="231716">
            <div class="form-row form-row-checkbox">
            <div class="field">
                <input type="checkbox" class=
                "compare-check" id=
                "cc-bcTIciaagZvgIaaac8uPwTyAMD">
                <label class="label" for=
                "cc-bcTIciaagZvgIaaac8uPwTyAMD">Compare</label>
            </div>
            </div>
        </div>
        <div class="product-colorswatches">
            <ul class="product-colorswatches-list">
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/gps-bags-equipment/push-pull-trolleys/masters-golf-5-series-3-wheel-trolley-252216.html?dwvar_252216_variantimage=black"
                title="Black"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw7f911dfb/zoom/252216-2.jpg?cx=945&amp;cy=680&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw7f911dfb/zoom/252216-2.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            </ul>
        </div>
        </div>
    </li>
    <li id="liprod-8" class=
    "grid-tile col-sm-12 col-md-4 col-lg-4">
        <!-- CQuotient Activity Tracking (viewCategory-cquotient.js) -->
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ */
        (function(){
        try {
        if(window.CQuotient) {
        var cq_params = {};

        cq_params.cookieId = window.CQuotient.getCQCookieId();
        cq_params.userId = window.CQuotient.getCQUserId();
        cq_params.accumulate = true;
        cq_params.products = [{
        id: '289520',
        sku: ''
        }];
        cq_params.categoryId = 'navigation';
        cq_params.refinements = '[{\"name\":\"Category\",\"value\":\"navigation\"}]';
        cq_params.personalized = 'false';

        if(window.CQuotient.sendActivity)
        window.CQuotient.sendActivity(CQuotient.clientId, 'viewCategory', cq_params);
        else
        window.CQuotient.activities.push({
        activityType: 'viewCategory',
        parameters: cq_params
        });
        }
        } catch(err) {}
        })();
        /* ]]> */
        // -->
        </script> 
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ (viewProduct-active_data.js) */
        dw.ac.capture({id: "289520", type: "searchhit"});
        /* ]]> */
        // -->
        </script>
        <div class="product-tile" id=
        "bcXgQiaagDtwgaaadnrvdOgInY" data-itemid=
        "289520">
        <div class="product-image">
            <!-- dwMarker="product" dwContentID="bcXgQiaagDtwgaaadnrvdOgInY" -->
            <a class="thumb-link productlink" href=
            "http://www.americangolf.co.uk/balls-accessories/golf-balls/srixon-ad333-12-ball-pack-2015-289520.html?dwvar_289520_variantimage=white"
            title=
            "Srixon AD333 12 Ball Pack 2015"><img src="http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw8fb745c7/zoom/289520-1.jpg?sw=255"
            alt="Srixon AD333 12 Ball Pack 2015"
            title="Srixon AD333 12 Ball Pack 2015"
            width="255"></a>
            <div class="product-promo">
            <div class="promotional-message">
                20% off Second Pack
            </div>
            </div>
        </div>
        <h3 class="product-name">
            <a class="name-link productlink" href=
            "http://www.americangolf.co.uk/balls-accessories/golf-balls/srixon-ad333-12-ball-pack-2015-289520.html?dwvar_289520_variantimage=white"
            title=
            "Srixon AD333 12 Ball Pack 2015">Srixon
            AD333 12 Ball Pack 2015</a>
        </h3>
        <div class="product-reviews">
            <div class="pr_stars">
            <i class="icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i> <span class=
            "stars-inner" style=
            "width:87%;"><span class=
            "stars-inner-content"><i class=
            "icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i></span></span>
            </div>
        </div>
        <div class="product-pricing">
            <div class=
            "product-price product-price-standard">
            <div class="save-mrrp">
                <span class="mrrp">MRRP £30.00</span>
                <span class="save">Save £12.01</span>
            </div>
            <div class="product-sales-price" title=
            "Sale Price">
                <span>£17.99</span>
            </div>
            </div>
        </div>
        <div class="product-compare"
        data-compareitemid="289520">
            <div class="form-row form-row-checkbox">
            <div class="field">
                <input type="checkbox" class=
                "compare-check" id=
                "cc-bcXgQiaagDtwgaaadnrvdOgInY">
                <label class="label" for=
                "cc-bcXgQiaagDtwgaaadnrvdOgInY">Compare</label>
            </div>
            </div>
        </div>
        <div class="product-colorswatches"></div>
        </div>
    </li>
    <li id="liprod-9" class=
    "grid-tile col-sm-12 col-md-4 col-lg-4">
        <!-- CQuotient Activity Tracking (viewCategory-cquotient.js) -->
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ */
        (function(){
        try {
        if(window.CQuotient) {
        var cq_params = {};

        cq_params.cookieId = window.CQuotient.getCQCookieId();
        cq_params.userId = window.CQuotient.getCQUserId();
        cq_params.accumulate = true;
        cq_params.products = [{
        id: '279577',
        sku: ''
        }];
        cq_params.categoryId = 'navigation';
        cq_params.refinements = '[{\"name\":\"Category\",\"value\":\"navigation\"}]';
        cq_params.personalized = 'false';

        if(window.CQuotient.sendActivity)
        window.CQuotient.sendActivity(CQuotient.clientId, 'viewCategory', cq_params);
        else
        window.CQuotient.activities.push({
        activityType: 'viewCategory',
        parameters: cq_params
        });
        }
        } catch(err) {}
        })();
        /* ]]> */
        // -->
        </script> 
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ (viewProduct-active_data.js) */
        dw.ac.capture({id: "279577", type: "searchhit"});
        /* ]]> */
        // -->
        </script>
        <div class="product-tile" id=
        "bcX7UiaagZvIUaaadhypVWjRuJ" data-itemid=
        "279577">
        <div class="product-image">
            <!-- dwMarker="product" dwContentID="bcX7UiaagZvIUaaadhypVWjRuJ" -->
            <a class="thumb-link productlink" href=
            "http://www.americangolf.co.uk/golf-clubs/drivers/taylormade-aeroburner-driver-279577.html"
            title=
            "TaylorMade AeroBurner Driver"><img src=
            "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw680de818/zoom/279577-1.jpg?sw=255"
            alt="TaylorMade AeroBurner Driver" title=
            "TaylorMade AeroBurner Driver" width=
            "255"></a>
            <div class="badge badge-pricebuster">
            <div class="badge-inner">
                Great
                <br>
                Value
            </div>
            </div>
        </div>
        <h3 class="product-name">
            <a class="name-link productlink" href=
            "http://www.americangolf.co.uk/golf-clubs/drivers/taylormade-aeroburner-driver-279577.html"
            title=
            "TaylorMade AeroBurner Driver">TaylorMade
            AeroBurner Driver</a>
        </h3>
        <div class="product-reviews">
            <div class="pr_stars">
            <i class="icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i> <span class=
            "stars-inner" style=
            "width:88%;"><span class=
            "stars-inner-content"><i class=
            "icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i></span></span>
            </div>
        </div>
        <div class="product-pricing">
            <div class=
            "product-price product-price-standard">
            <div class="save-mrrp">
                <span class="mrrp">MRRP
                £269.00</span> <span class=
                "save">Save £119.01</span>
            </div>
            <div class="product-sales-price" title=
            "Sale Price">
                <span>£149.99</span>
            </div>
            </div>
        </div>
        <div class="product-compare"
        data-compareitemid="279577">
            <div class="form-row form-row-checkbox">
            <div class="field">
                <input type="checkbox" class=
                "compare-check" id=
                "cc-bcX7UiaagZvIUaaadhypVWjRuJ">
                <label class="label" for=
                "cc-bcX7UiaagZvIUaaadhypVWjRuJ">Compare</label>
            </div>
            </div>
        </div>
        <div class="product-colorswatches"></div>
        </div>
    </li>
    <li id="liprod-10" class=
    "grid-tile col-sm-12 col-md-4 col-lg-4">
        <!-- CQuotient Activity Tracking (viewCategory-cquotient.js) -->
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ */
        (function(){
        try {
        if(window.CQuotient) {
        var cq_params = {};

        cq_params.cookieId = window.CQuotient.getCQCookieId();
        cq_params.userId = window.CQuotient.getCQUserId();
        cq_params.accumulate = true;
        cq_params.products = [{
        id: '281179',
        sku: ''
        }];
        cq_params.categoryId = 'navigation';
        cq_params.refinements = '[{\"name\":\"Category\",\"value\":\"navigation\"}]';
        cq_params.personalized = 'false';

        if(window.CQuotient.sendActivity)
        window.CQuotient.sendActivity(CQuotient.clientId, 'viewCategory', cq_params);
        else
        window.CQuotient.activities.push({
        activityType: 'viewCategory',
        parameters: cq_params
        });
        }
        } catch(err) {}
        })();
        /* ]]> */
        // -->
        </script> 
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ (viewProduct-active_data.js) */
        dw.ac.capture({id: "281179", type: "searchhit"});
        /* ]]> */
        // -->
        </script>
        <div class="product-tile" id=
        "bcyZ6iaagZqZUaaadiR8NWQACV" data-itemid=
        "281179">
        <div class="product-image">
            <!-- dwMarker="product" dwContentID="bcyZ6iaagZqZUaaadiR8NWQACV" -->
            <a class="thumb-link productlink" href=
            "http://www.americangolf.co.uk/balls-accessories/golf-gloves/footjoy-weathersof-glove-2-pack-281178.html?dwvar_281178_variantimage=white"
            title=
            "FootJoy WeatherSof Glove 2 Pack"><img src="http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw9f44f5ce/zoom/281178_1.jpg?sw=255"
            alt="FootJoy WeatherSof Glove 2 Pack"
            title="FootJoy WeatherSof Glove 2 Pack"
            width="255"></a>
        </div>
        <h3 class="product-name">
            <a class="name-link productlink" href=
            "http://www.americangolf.co.uk/balls-accessories/golf-gloves/footjoy-weathersof-glove-2-pack-281178.html?dwvar_281178_variantimage=white"
            title=
            "FootJoy WeatherSof Glove 2 Pack">FootJoy
            WeatherSof Glove 2 Pack</a>
        </h3>
        <div class="product-reviews">
            <div class="pr_stars">
            <i class="icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i> <span class=
            "stars-inner" style=
            "width:89%;"><span class=
            "stars-inner-content"><i class=
            "icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i></span></span>
            </div>
        </div>
        <div class="product-pricing">
            <div class=
            "product-price product-price-standard">
            <div class="save-mrrp">
                <span class="mrrp">MRRP £16.99</span>
                <span class="save">Save £2.00</span>
            </div>
            <div class="product-sales-price" title=
            "Sale Price">
                <span>£14.99</span>
            </div>
            </div>
        </div>
        <div class="product-compare"
        data-compareitemid="281179">
            <div class="form-row form-row-checkbox">
            <div class="field">
                <input type="checkbox" class=
                "compare-check" id=
                "cc-bcyZ6iaagZqZUaaadiR8NWQACV">
                <label class="label" for=
                "cc-bcyZ6iaagZqZUaaadiR8NWQACV">Compare</label>
            </div>
            </div>
        </div>
        <div class="product-colorswatches">
            <ul class="product-colorswatches-list">
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/balls-accessories/golf-gloves/footjoy-weathersof-glove-2-pack-281178.html?dwvar_281178_variantimage=white"
                title="White"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw9f44f5ce/zoom/281178_1.jpg?cx=759&amp;cy=150&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw9f44f5ce/zoom/281178_1.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            </ul>
        </div>
        </div>
    </li>
    <li id="liprod-11" class=
    "grid-tile col-sm-12 col-md-4 col-lg-4">
        <!-- CQuotient Activity Tracking (viewCategory-cquotient.js) -->
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ */
        (function(){
        try {
        if(window.CQuotient) {
        var cq_params = {};

        cq_params.cookieId = window.CQuotient.getCQCookieId();
        cq_params.userId = window.CQuotient.getCQUserId();
        cq_params.accumulate = true;
        cq_params.products = [{
        id: '290413',
        sku: ''
        }];
        cq_params.categoryId = 'navigation';
        cq_params.refinements = '[{\"name\":\"Category\",\"value\":\"navigation\"}]';
        cq_params.personalized = 'false';

        if(window.CQuotient.sendActivity)
        window.CQuotient.sendActivity(CQuotient.clientId, 'viewCategory', cq_params);
        else
        window.CQuotient.activities.push({
        activityType: 'viewCategory',
        parameters: cq_params
        });
        }
        } catch(err) {}
        })();
        /* ]]> */
        // -->
        </script> 
        <script type="text/javascript">
        //<!--
        /* <![CDATA[ (viewProduct-active_data.js) */
        dw.ac.capture({id: "290413", type: "searchhit"});
        /* ]]> */
        // -->
        </script>
        <div class="product-tile" id=
        "dgqcAiaaguodAaaaen3PE5b73z" data-itemid=
        "290413">
        <div class="product-image">
            <!-- dwMarker="product" dwContentID="dgqcAiaaguodAaaaen3PE5b73z" -->
            <a class="thumb-link productlink" href=
            "http://www.americangolf.co.uk/clothing-shoes/shirts/palm-grove-coolpass-pique-polo-shirt-290413.html?dwvar_290413_variantimage=white"
            title=
            "Palm Grove Coolpass Pique Polo Shirt"><img src="http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwbbb71fd0/zoom/290413-whtnvy.jpg?sw=255"
            alt=
            "Palm Grove Coolpass Pique Polo Shirt"
            title=
            "Palm Grove Coolpass Pique Polo Shirt"
            width="255"></a>
            <div class="product-promo">
            <div class="promotional-message">
                Buy One Get One Half Price
            </div>
            </div>
            <div class="badge badge-pricebuster">
            <div class="badge-inner">
                Great
                <br>
                Value
            </div>
            </div>
        </div>
        <h3 class="product-name">
            <a class="name-link productlink" href=
            "http://www.americangolf.co.uk/clothing-shoes/shirts/palm-grove-coolpass-pique-polo-shirt-290413.html?dwvar_290413_variantimage=white"
            title=
            "Palm Grove Coolpass Pique Polo Shirt">Palm
            Grove Coolpass Pique Polo Shirt</a>
        </h3>
        <div class="product-reviews">
            <div class="pr_stars">
            <i class="icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i> <span class=
            "stars-inner" style=
            "width:87%;"><span class=
            "stars-inner-content"><i class=
            "icon icon-star first">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star">
            <!-- icon --></i> <i class=
            "icon icon-star"><!-- icon --></i>
            <i class="icon icon-star last">
            <!-- icon --></i></span></span>
            </div>
        </div>
        <div class="product-pricing">
            <div class=
            "product-price product-price-standard">
            <div class="save-mrrp"></div>
            <div class="product-sales-price" title=
            "Sale Price">
                <span>£14.99</span>
            </div>
            </div>
        </div>
        <div class="product-compare"
        data-compareitemid="290413">
            <div class="form-row form-row-checkbox">
            <div class="field">
                <input type="checkbox" class=
                "compare-check" id=
                "cc-dgqcAiaaguodAaaaen3PE5b73z">
                <label class="label" for=
                "cc-dgqcAiaaguodAaaaen3PE5b73z">Compare</label>
            </div>
            </div>
        </div>
        <div class="product-colorswatches">
            <ul class="product-colorswatches-list">
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/shirts/palm-grove-coolpass-pique-polo-shirt-290413.html?dwvar_290413_variantimage=black%2Fwhite"
                title="Black/White"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw3d106099/zoom/290413-blkwht.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw3d106099/zoom/290413-blkwht.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/shirts/palm-grove-coolpass-pique-polo-shirt-290413.html?dwvar_290413_variantimage=grey"
                title="Grey"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwe03db961/zoom/290413-3.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwe03db961/zoom/290413-3.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/shirts/palm-grove-coolpass-pique-polo-shirt-290413.html?dwvar_290413_variantimage=navy%2Fwhite"
                title="Navy/White"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwaae60bb3/zoom/290413-1.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwaae60bb3/zoom/290413-1.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/shirts/palm-grove-coolpass-pique-polo-shirt-290413.html?dwvar_290413_variantimage=red%2Fnavy"
                title="Red/Navy"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw9dcd0702/zoom/290413-rednavy.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw9dcd0702/zoom/290413-rednavy.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/shirts/palm-grove-coolpass-pique-polo-shirt-290413.html?dwvar_290413_variantimage=skyblue"
                title="Skyblue"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw7f591388/zoom/290413-skyblue.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw7f591388/zoom/290413-skyblue.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/shirts/palm-grove-coolpass-pique-polo-shirt-290413.html?dwvar_290413_variantimage=spearmint"
                title="Spearmint"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwf0da4074/zoom/290413-spearmint.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwf0da4074/zoom/290413-spearmint.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/shirts/palm-grove-coolpass-pique-polo-shirt-290413.html?dwvar_290413_variantimage=teal%2Fwhite"
                title="Teal/White"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw41320702/zoom/290413-tealwht.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw41320702/zoom/290413-tealwht.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/shirts/palm-grove-coolpass-pique-polo-shirt-290413.html?dwvar_290413_variantimage=turquoise"
                title="Turquoise"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw599dc903/zoom/290413-2.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dw599dc903/zoom/290413-2.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            <li>
                <a class="swatch productlink" href=
                "http://www.americangolf.co.uk/clothing-shoes/shirts/palm-grove-coolpass-pique-polo-shirt-290413.html?dwvar_290413_variantimage=white"
                title="White"><span class=
                "swatch-inner" style=
                "background-image:url(http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwbbb71fd0/zoom/290413-whtnvy.jpg?cx=900&amp;cy=600&amp;cw=26&amp;ch=26);"
                data-mediumimage=
                "http://www.americangolf.co.uk/dw/image/v2/AAKY_PRD/on/demandware.static/-/Sites-master-catalog/default/dwbbb71fd0/zoom/290413-whtnvy.jpg?sw=255">
                <!-- empty --></span></a>
            </li>
            </ul>
        </div>
        </div>
    </li>
    </ul>
    <div class=
    "inline-loading-indicator loading-indicator"
    style="display:none;">
    <div class="loader only-on-ag">
        <div class="loader-rect1">
        <!-- empty -->
        </div>
        <div class="loader-rect2">
        <!-- empty -->
        </div>
        <div class="loader-rect3">
        <!-- empty -->
        </div>
        <div class="loader-rect4">
        <!-- empty -->
        </div>
        <div class="loader-rect5">
        <!-- empty -->
        </div>
    </div>
    <div class="loader-container only-on-og">
        <div class="progress">
        <div class="progress-item"></div>
        </div>
    </div>
    </div>
    <div class="ajaxloader">
    <!-- empty -->
    </div>
</div>
<div class="search-promo"></div><span style=
"display: none;"><img class="redeyepixel" width="1"
height="1" alt="AG RedEye Pixel" src=
"https://reporting.americangolf.co.uk/cgi-bin/rr/blank.gif?nourl=sub-sub-category-view&amp;view_cat_event=view_cat_event&amp;view_cat_name=Golf%20Products&amp;view_cat_code1=307757&amp;view_cat_prod_domain1=AmericanGolf-GB&amp;view_cat_code2=C005&amp;view_cat_prod_domain2=AmericanGolf-GB&amp;view_cat_code3=307574&amp;view_cat_prod_domain3=AmericanGolf-GB&amp;view_cat_code4=297340&amp;view_cat_prod_domain4=AmericanGolf-GB&amp;view_cat_code5=C002&amp;view_cat_prod_domain5=AmericanGolf-GB&amp;view_cat_code6=311213&amp;view_cat_prod_domain6=AmericanGolf-GB&amp;view_cat_code7=311313&amp;view_cat_prod_domain7=AmericanGolf-GB&amp;view_cat_code8=231716&amp;view_cat_prod_domain8=AmericanGolf-GB&amp;view_cat_url=www.americangolf.co.uk/on/demandware.store/Sites-AmericanGolf-GB-Site/en_GB/Search-Show&amp;view_cat_domain=AmericanGolf-GB&amp;view_cat_currency=GBP&amp;domain=AmericanGolf-GB&amp;currency=GBP"></span>
</div>